<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart activity planner</title>
</head>
<body>
<img src="https://cdn.discordapp.com/attachments/953275734309351424/954790858765533245/unknown.png" alt="" style="width: 100%;height: auto;">
<h2 style="font-family:Helvetica;">What do you want to do?</h2>

<form method="post">
      <label for="where">Where are you?</label>
      <br>
      <input type="text" name="where" value="{{ request.form['where'] }}" required>
      <br>
      <label for="request"> What do you want to do?</label>
      <br>
      <input type="text" name="request" value="{{ request.form['request'] }}" required>
      <br>
      <label for="preferences">Your preferences:</label>
      <br>
      <textarea name="preferences" rows="5" cols="50">{{ request.form['preferences'] }}</textarea>
      <br>
      <button type="submit"><img src="https://cdn.discordapp.com/attachments/953275734309351424/954788365155328031/unknown.png" border="0" /></button>
</form>

{% if err %}

<h3> {{ err }} </h3>

{% endif %}

{% if recommendations %}
<h3> Recommendations </h3><br>

Here are some recommendations for you based on your preferences: <br>

{% for recommendation in recommendations %}
{{ recommendation }} <br>
{% endfor %}
{% endif %}

{% if preferences %}

<h3>Recognized preferences</h3>
<br>
I'm taking the following preferences into account:
<ul>
{% for preference in preferences %}
    <li>{{ preference }}</li>
{% endfor %}
</ul>

{% endif %}

<img src="https://cdn.discordapp.com/attachments/953275734309351424/954800315335585842/unknown.png" alt="" style="width: 100%;height: auto;">
    
</body>
</html>
