<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart activity planner</title>
</head>
<body>
<img src="https://cdn.discordapp.com/attachments/953275734309351424/954790858765533245/unknown.png" alt="" style="width: 100%;height: auto;">
<h2>What do you want to do?</h2>

<form method="post">
      <label for="preferences">Type your preferences</label>
      <br>
      <textarea name="preferences" rows="10" cols="100">{{ request.form['preferences'] }}</textarea>
      <br>
      <label for="requests">Type every activity you want to do in new line</label>
      <br>
      <textarea name="requests" rows="10" cols="100">{{ request.form['requests'] }}</textarea>
      <br/>
      <button type="submit"><img src="https://cdn.discordapp.com/attachments/953275734309351424/954788365155328031/unknown.png" border="0" /></button>
</form>

<h2>Recomendations</h2>

{% if responses %}
<ul>
{% for response in responses %}
    <li>{{ response }}</li>
{% endfor %}
</ul>
{% endif %}

</body>
</html>
