<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart activity planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    div {
        margin-left: 50px;
    }
    </style>

</head>
<body>
<img src="https://cdn.discordapp.com/attachments/953275734309351424/954790858765533245/unknown.png" alt="" style="width: 100%;height: auto;">

<br>
<div>
<form method="post">
      <label for="where"><p style="font-size:20px;">Where are you?</p></label>
      <br>
      <input type="text" name="where" size="50" value="{{ request.form['where'] }}" required>
      <br>
      <label for="request"><p style="font-size:20px;">What do you want to do?</p></label>
      <br>
      <input type="text" name="request" size="50" value="{{ request.form['request'] }}" required>
      <br>
      <label for="preferences"><p style="font-size:20px;">Your preferences</p></label>
      <br>
      <textarea name="preferences" rows="5" cols="50">{{ request.form['preferences'] }}</textarea>
      <br>
      <button type="submit"><img src="https://cdn.discordapp.com/attachments/953275734309351424/954788365155328031/unknown.png" border="0" /></button>
</form>

{% if err %}

<h3> {{ err }} </h3>

{% endif %}

{% if recommendations %}
<h3> Recommendations </h3>

Here are some recommendations for you based on your preferences: <br>

{% for recommendation in recommendations %}
<h4> {{ recommendation['title'] }} </h4>
{{ recommendation['description'] }} <br>
<p style="font-style: italic;">{{ recommendation['footnotes'] }} </p> <br>
{% endfor %}
{% endif %}

{% if preferences %}

<h3>Recognized preferences</h3>
I'm taking the following preferences into account:
<ul>
{% for preference in preferences %}
    <li>{{ preference }}</li>
{% endfor %}
</ul>

{% endif %}

{% if map %}

    <div id="map"></div>

    <script>
        var map = L.map('map').setView([{{lat}}, {{lon}}], 16);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'}).addTo(map);

        {{map|safe}}
    </script>

{% endif %}
</div>

<img src="https://cdn.discordapp.com/attachments/953275734309351424/954800315335585842/unknown.png" alt="" style="width: 100%;height: auto;">
    
</body>
</html>
