<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<img src="https://cdn.discordapp.com/attachments/953275734309351424/954790858765533245/unknown.png" alt="" style="width: 100%;height: auto;">

<div class="container">
  <h2>What do you want to do?</h2>
  <form action="/action_page.php">
  	<div class="form-group">
      <label for="where">Where are you?</label>
      <input type="text" class="form-control" id="where" placeholder="Enter your coordinates:" name="where" value="{{ request.form['where'] }}" required>
    </div>
    <div class="form-group">
      <label for="request">What do you want to do?</label>
      <input type="text" class="form-control" id="request" placeholder="Enter your plans:" name="request" value="{{ request.form['request'] }}" required>
    </div>
    <div class="form-group">
      <label for="preferences">Do you have any preferences?</label>
      <input type="text" class="form-control" id="preferences" placeholder="Enter your preferences:" name="preferences" value="{{ request.form['preferences'] }}" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember</label>
    </div>
    <button type="submit"><img src="https://cdn.discordapp.com/attachments/953275734309351424/954788365155328031/unknown.png" /></button>
  </form>
</div>

<img src="https://cdn.discordapp.com/attachments/953275734309351424/954800315335585842/unknown.png" alt="" style="width: 100%;height: auto;">

</body>
</html>
